body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #eeeeee;
    width: 80vw;
    height: 80vh;
    margin: auto;
    border-radius: 8%;
    box-sizing: border-box;
}

h2 {
    padding-top: 2vh;
    color: #2e8198;
}

/* Button to add Tasks and input to write them */

#addBtn, #inputTask, #deleteTasksBtn {
    display: block;
    margin: 2vh auto;
    font-family: 'Merriweather', serif;
    border: none;
    border-radius: 10px;
    padding: 7px;
}

#addBtn, #deleteTasksBtn {
    font-weight: bold;
    color: #607687;
}

#addBtn:focus, #inputTask:focus, #deleteTasksBtn:focus {
    outline: none;
    border: 2px solid orange;
    border-radius: 10px;
}

/* List of tasks created */

.listBox {
    background-color: white;
    width: 75%;
    height: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 1px;
}

/* List element styles */

.listElement {
    font-family: 'Merriweather', serif; 
    list-style-type: circle; 
    width: 100%;
    text-align: left;
}

/* Modal box */

.modal {
    position: fixed;
    left:0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.4);
    display: none;
}

.modalText {
    background-color: white;
    padding: 15px;
    width: 55vw;
    border-radius: 10px;
    margin: auto;
    margin-top: 25vh;
}

/* Remove Button on List Element */

.removeBtn {
    width: 6vw;
    height: 4vh;
    border-radius: 50%;
    background-color: #e29896;
    color: #607687;
    font-weight: bold;
/*    float: right;*/
    margin-right: 1vw;
}

.removeBtn:focus {
    outline: none;
    border: 2px solid orange;
}

/* Mark task ad complete Buton */

.completeBtn {
    width: 6vw;
    height: 4vh;
    border-radius: 50%;
    background-color: #eee;
    color: #607687;
    font-weight: bold;
/*    float: right;*/
    margin-right: 1vw;
}

.completeBtn:focus {
    outline: none;
    border: 2px solid orange;
}

.taskDone {
    text-decoration: line-through;
    color: darkgrey;
}